

<div class="row">
    <div id="personal-info-holder" class="container-fluid col-xs-12">
        <div id="personal-image" class="col-xs-12">
            <img class="img-circle shadow" id="face-image" src="~/Content/Images/face-image-xs.jpg" alt="Cristian Ventura portfolio personal image" />
        </div>

        <div id="name-holder" class="col-xs-12 text-center">
            <h1> Cristian Ventura </h1>
        </div>
        <div id="personal-details" class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="contact-info">@*<span class="fa fa-user-o details-icon" aria-hidden="true"></span>*@cristventcode@gmail.com</div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="contact-info">@*<span class="fa fa-phone details-icon" aria-hidden="true"></span>*@678 933 1047</div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="contact-info">
                        <div class="row">
                            <div class="col-xs-6 text-center">
                                <a target="_blank" href="https://github.com/cristventcode">
                                    <button class="btn btn-primary btn-xs shadow-button">
                                        <span class="fa fa-github fa-2x link-account" aria-hidden="true"></span>
                                    </button>
                                </a>
                            </div>
                            <div class="col-xs-6 text-center">
                                <a target="_blank" href="https://www.linkedin.com/in/cristian-ventura-485074139/">
                                    <button class="btn btn-primary btn-xs shadow-button">
                                        <span class="fa fa-linkedin fa-2x link-account" aria-hidden="true"></span>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="row">*@
                <div class="col-xs-12 col-sm-6">
                    <div class="info-bio">
                        <h4>Bio</h4>
                        Current student with great interests of working in the web development industry. Skilled in HTML, CSS, Bootstrap, JavaScript, Self-directed Learning, and new found interest for C# and ASP.NET / MVC . Currently completing an (AAS) focused in Website Design/Development from Gwinnett Technical College and also attending a code camp at Code Career Academy.
                        <br />
                        <br />
                        <a target="_blank" href="~/Content/Link/CristianVentura-resume.pdf">
                            <button class="btn btn-sm btn-success">
                                <span class="fa fa-file-o" aria-hidden="true"></span> My Resume
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="info-bio">
                        <h4>Used Tech</h4>
                        <ul class="list-group skill-list">
                            <li class="list-group-item skill-list-item">
                                HTML
                            </li>
                            <li class="list-group-item skill-list-item">
                                CSS
                            </li>
                            <li class="list-group-item skill-list-item">
                                JavaScript
                            </li>
                            <li class="list-group-item skill-list-item">
                                jQuery
                            </li>
                            <li class="list-group-item skill-list-item">
                                Bootstrap
                            </li>
                            <li class="list-group-item skill-list-item">
                                Git
                            </li>
                            <li class="list-group-item skill-list-item">
                                GitHub
                            </li>
                            <li class="list-group-item skill-list-item">
                                REST
                            </li>
                            <li class="list-group-item skill-list-item">
                                Visual Studio
                            </li>
                            <li class="list-group-item skill-list-item">
                                ASP.NET / MVC / Web API
                            </li>
                            <li class="list-group-item skill-list-item">
                                C#
                            </li>
                            <li class="list-group-item skill-list-item">
                                Photoshop
                            </li>
                        </ul>
                    </div>
                </div>
                @*</div>*@
            </div>
        </div>
        <div id="projects-holder" class="col-xs-12">
            @*<hr class="hr-thick" />*@
            <hr />
            <h3>Projects</h3>
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Music Search
                        </div>
                        <div class="panel-body">
                            <span class="project-info">Using AJAX to make REST calls to iTunes API</span>
                            <hr />
                            <div class="col-xs-6 sample-link-holder">
                                <a target="_blank" href="https://github.com/cristventcode/restProject">
                                    <button class="btn btn-sm">
                                        <span class="fa fa-2x fa-github" aria-hidden="true"></span>
                                    </button>
                                </a>
                            </div>
                            <div class="col-xs-6 sample-link-holder">
                                <a href="~/Projects/ItunesApi">
                                    <button class="btn btn-sm">
                                        Try Here
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Tictactoe Game
                        </div>
                        <div class="panel-body">
                            <span class="project-info">A tictactoe game that has multiple game modes</span>
                            <hr />
                            <div class="col-xs-6 sample-link-holder">
                                <a target="_blank" href="https://github.com/cristventcode/tictactoeGame">
                                    <button class="btn btn-sm">
                                        <span class="fa fa-2x fa-github" aria-hidden="true"></span>
                                    </button>
                                </a>
                            </div>
                            <div class="col-xs-6 sample-link-holder">
                                <a href="~/Projects/TictactoeGame">
                                    <button class="btn btn-sm">
                                        Try Here
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Quiz Game Web App
                        </div>
                        <div class="panel-body">
                            <span class="project-info">Web application for creating quizzes / taking quizzes</span>
                            <hr />
                            <div class="col-xs-6 sample-link-holder">
                                <a target="_blank" href="https://github.com/cristventcode/QuizWebApp">
                                    <button class="btn btn-sm">
                                        <span class="fa fa-2x fa-github" aria-hidden="true"></span>
                                    </button>
                                </a>
                            </div>
                            <div class="col-xs-6 sample-link-holder">
                                <a class="disabled">
                                    <button class="btn btn-sm disabled">
                                        <span class="fa fa-2x fa-close" aria-hidden="true"></span>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Personal Work Assistant
                        </div>
                        <div class="panel-body">
                            <span class="project-info">Web application intended to assist me at work</span>
                            <hr />
                            <div class="col-xs-6 sample-link-holder">
                                <a target="_blank" href="https://github.com/cristventcode/WorkAssistantWebApp">
                                    <button class="btn btn-sm">
                                        <span class="fa fa-2x fa-github" aria-hidden="true"></span>
                                    </button>
                                </a>
                            </div>
                            <div class="col-xs-6 sample-link-holder">
                                <a class="disabled">
                                    <button class="btn btn-sm disabled">
                                        <span class="fa fa-2x fa-close" aria-hidden="true"></span>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Winning Num Generator
                        </div>
                        <div class="panel-body">
                            <span class="project-info">Generator that selects a single or many winners</span>
                            <hr />
                            <div class="col-xs-6 sample-link-holder">
                                <a target="_blank" href="https://github.com/cristventcode/randNumGenerator">
                                    <button class="btn btn-sm">
                                        <span class="fa fa-2x fa-github" aria-hidden="true"></span>
                                    </button>
                                </a>
                            </div>
                            <div class="col-xs-6 sample-link-holder">
                                <a href="~/Projects/RandomGen">
                                    <button class="btn btn-sm">
                                        Try Here
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
