
@Styles.Render("~/Content/tictactoe-styles.css")

<br />
<aside class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4> Mode Settings </h4>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item type-select">
                    Human vs Human
                    <span class="switch-holder"><button id="human-human-mode" class="btn btn-switch ">OFF</button> </span>
                </li>
                <li class="list-group-item type-select">
                    Human vs Computer
                    <span class="switch-holder"><button id="human-cpu-mode" class="btn btn-switch">OFF</button> </span>
                </li>
                <li class="list-group-item type-select">
                    Computer vs Computer
                    <span class="switch-holder"><button id="cpu-cpu-mode" class="btn btn-switch">OFF</button> </span>
                </li>
            </ul>
            <button class="btn" id="reset-game-btn"> Reset Game </button>
            <button class="btn btn-primary" id="testingThis"> Start Game </button>
            <br>
            <br>
        </div>
    </div>
</aside>
<div class="container col-md-9">
<div id="game-area" class="panel panel-default col-sm-8 col-md-6">
    <div class="panel-heading">
        <h4> Game Board </h4>
    </div>
    <div class="col-xs-12 col-md-12 center-col clearfix panel-body">
        <div id="top" class="col-md-12 table-row">
            <div class="col-xs-4 play-box"> <span id="top-l" class="box-content hover-over"></span> </div>
            <div class="col-xs-4 play-box"> <span id="top-m" class="box-content hover-over"></span> </div>
            <div class="col-xs-4 play-box"> <span id="top-r" class="box-content hover-over"></span> </div>
        </div>
        <div id="middle" class="col-md-12 table-row">
            <div class="col-xs-4 play-box"> <span id="mid-l" class="box-content hover-over"></span> </div>
            <div class="col-xs-4 play-box"> <span id="mid-m" class="box-content hover-over"></span> </div>
            <div class="col-xs-4 play-box"> <span id="mid-r" class="box-content hover-over"></span> </div>
        </div>
        <div id="bottom" class="col-md-12 table-row">
            <div class="col-xs-4 play-box"> <span id="bot-l" class="box-content hover-over"></span> </div>
            <div class="col-xs-4 play-box"> <span id="bot-m" class="box-content hover-over"></span> </div>
            <div class="col-xs-4 play-box"> <span id="bot-r" class="box-content hover-over"></span> </div>
        </div>
    </div>
</div>
<div id="score-history" class="col-xs-12 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4> Letter Score </h4>
        </div>
        <div class="panel-body">
            <div class="col-xs-6 score-card">
                <h4> X </h4>
                <span id="player-x" class="score-card-num well"> 0 </span>
            </div>
            <div class="col-xs-6 score-card">
                <h4> O </h4>
                <span id="player-o" class="score-card-num well"> 0 </span>
            </div>
        </div>
    </div>
</div>
    </div>
@section Scripts{
    @Scripts.Render("~/Scripts/tictactoe/game-Action.js")
    @Scripts.Render("~/Scripts/tictactoe/button-switches.js")
}


